@import "tailwindcss";
@plugin "daisyui";


.gilroy {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.graphik {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
}